<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DONATION WEBSITE</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Website</h4>
                  <form class="forms-sample" method="post" action="{% url 'updateWeb' dataid=wdata.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputName1">Website Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Website Name" name="wname" value="{{wdata.WebName}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleTextarea1">About Website</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="webabout">{{wdata.WebAbout}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Website Image</label>
                        <img src="{{wdata.WebImage.url}}" width="100px" height="100px">
                        <input type="file" name="Wimage">
                      </div>
                    <button type="submit" style="margin-left:400px;padding-left:100px;padding-right:100px;" class="btn btn-primary mr-2" style="margin-left:500px;width:100px;">UPDATE</button>

                      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}
        {% if i.tags == 'warning' %}
                <script>
                    swal('{{i}}','','warning')
                </script>
            {% elif i.tags == 'error' %}
                <script>
                    swal('{{i}}','','error')
                </script>
            {% elif i.tags == 'success' %}
                <script>
                    swal('{{i}}','','success')
                </script>
            {% else %}
                <script>
                    swal('{{i}}','','info')
                </script>
        {% endif %}
    {% endfor %}
{% endif %}



</body>
</html>
{% endblock %}